extends layout

block content
  if user
    if (user.admin != true)
      .card
        .card-body.p-3
        h5.card-title.text-center
          | Your User Group is 
          if (user.membership && user.admin)
            | Admin 
          else if (user.membership)
            | Member 
          else 
            | Ordinary User

      if (user.membership == false)
        form(method="post" action=`${user.id}/member`).bg-primary.p-3
          .form-group.d-flex
            input#member_code.form-control(type="text"  name="member_code" required='true' placeholder="Enter member code")
            button.btn.btn-primary(type="submit").mx-2.bg-white.text-primary Submit
      else if (user.admin == false)
        form(method="post" action=`${user.id}/admin`).bg-success.p-3
          .form-group.d-flex
            input#admin_code.form-control(type="text"  name="admin_code" required='true' placeholder="Enter admin code")
            button.btn.btn-primary(type="submit").mx-2.bg-white.text-success Submit  



  else 
    p.h3 Please log in first
    